.scrollarea {
    min-height: 500px;
}

div {
    font-family: cursive;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

    .container a {
        text-decoration: none;
    }

.container {
    margin-bottom: 315px;
}

.containerr {
    background-color: rgb(232, 255, 247);
    background-image: url("https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg");
    color: black;
}


.usuario {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(58, 58, 58);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
    color: rgb(255, 255, 255);
}

input {
    width: 95%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 10px -80px 10px 10px;
}

.derecha {
    margin-right: 10px;
}

.izquierda {
    text-align: left;
    margin-left: 10px;
}

.smallI {
    border-radius: 25px;
    background: rgb(54, 242, 79);
    background: linear-gradient( 0deg, rgba(54, 242, 79, 1) 0%, rgb(75, 255, 153) 100% );
    padding: 10px;
    position: relative;
    margin-left: 10px;
}

.smallD {
    border-radius: 25px;
    background: rgb(54, 242, 234);
    background: linear-gradient( 0deg, rgba(54, 242, 234, 1) 0%, rgba(75, 203, 255, 1) 100% );
    padding: 10px;
    position: relative;
    margin-left: 10px;
}

button {
    border: 2px solid #020353;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
}

.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-49:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: 'BACK';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
    }

    .button-49:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        margin-top: 10px;
        width: 133px;
        height: 43px;
        line-height: 0px;
        float: right;
        margin-bottom: 10px;
        /*width: 200px;
        height: 86px;
        line-height: 88px;*/
    }
}