<style >
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #424242;
}

</style >

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
}

.place-card {
    transition: all .2s ease-in-out;
    height: 10%;
    min-height: 20%;
    max-height: 90px;
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

    .place-card:hover {
        display: grid;
        grid-template-columns: 25%;
        transform: scale(1.02);
    }

.place-card-image {
    display: flex;
}

    .place-card-image img {
        width: 25%;
        max-width: 25%;
        border-radius: 12px;
    }

.place-card-content {
    display: grid;
    margin-top: 1rem;
}

    .place-card-content p {
        margin: 0px;
        font-size: 15px;
    }

    .place-card-content .place-card-content-title,
    .place-card-content .place-card-content-price span {
        font-weight: 600;
    }

    .place-card-content .place-card-content-address {
        font-weight: 300;
    }

.penca-card {
    display: inline-block;
    background-color: #424242;
    transition: all .2s ease-in-out;
    height: 100%;
    width: 25%;
    min-height: 100%;
    max-height: 360px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    padding: 16px;
}

    .penca-card:hover {
        display: grid;
        grid-template-columns: 100%;
        transform: scale(1.02);
    }

.penca-card-image {
    display: flex;
    width: 100%;
    max-width: 100%;
}

    .penca-card-image img {
        width: 100%;
        max-width: 100%;
        border-radius: 3px;
    }

.penca-card-content {
    width: 100%;
    display: grid;
    margin-top: 1rem;
}

    .penca-card-content p {
        margin: 0px;
        font-size: 15px;
    }

    .penca-card-content .penca-card-content-title,
    .penca-card-content .penca-card-content-price span {
        font-weight: 600;
    }

    .penca-card-content .penca-card-content-address {
        font-weight: 300;
    }

.penca-card-content-title {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: #00cfb4;
    width: 100px;
    text-align: center;
}

.penca-card-content-button {
    text-align: center;
    margin-top: -15px;
}

.penca-card-content-price {
    text-align: right;
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    border-radius: 5px;
}

    .fcc-btn:hover {
        background-color: #223094;
    }

small {
    color: black;
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    border-radius: 5px;
}

    .fcc-btn:hover {
        background-color: #223094;
    }
